:root {
    --main: #b80202;
    --dark: #820000;
}

body {
    font-family: 'Montserrat', sans-serif;
}

main {
    text-align: center;
    max-width: 500px;
    margin: 80px auto;
}

h1 {
    color: var(--dark);
}

form input[type=number] {
    border: none;
    border-bottom: 2px solid var(--dark);
    font-size: 18px;
    width: 200px;
    margin-right: 20px;
    text-align: center;
    font-weight: bold;
}

form input[type=number]::placeholder {
    font-size: 12px;
    font-style: italic;
    text-align: center;
    font-weight: normal;
}

form input[type=submit] { 
    background-color: var(--main);
    border: none;
    border-radius: 12px;
    padding: 10px 20px;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
    color: #fff;
    font-weight: bold;
    transition: 0.2s background-color;
}

form input[type=submit]:hover {
    background-color: var(--dark);
}

.fontes {
    text-align: right;
    font-size: 12px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.fontes p {
    margin: 0;
    line-height: 1.4;
}

.fontes p a {
    text-decoration: none;
    font-weight: bold;
    color: var(--main);
}

.fontes p a:hover {
    color: var(--dark);
}

.box {
    /*background-color: var(--dark);*/
    border: 2px solid var(--dark);
    border-radius: 12px;
    padding: 20px;
    color: var(--main);
    line-height: 1.4;
}

.result {
    margin: 0 auto;
    max-width: 400px;
    text-align: center;
}

#showYear {
    font-size: 24px;
    color: var(--dark);
    font-weight: bold;
}
